.flex {
  display: flex;
  flex: 1;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

#index-main {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

#form {
    width: 520px;
    text-align: center;
    margin: 30px auto;
    font-size: 13pt;
}

#logo-title {
    margin-top: 5px;
}

#sel-type {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /*margin-bottom: 20px;*/
}

#sel-name {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*margin-top: 20px;*/
}

.custom-select {
    background: #FFF url('../../assets/images/down-arrow.png') no-repeat right;
    text-indent: 5px;
    padding: 0px 0px 0px 5px;
    text-overflow: '';
    height: 39px;
    line-height:35px;
}

#procedure-name {
    width: 250px;
    /*margin-top: 20px;*/
    margin-right: auto;
    margin-left: auto;
    font-size: 13pt;
}

#title-text {
    font-size: 20pt;
    margin: 15px;
    font-weight: bold;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.logo-text {
  font-size: 18pt;
}

#modal-onedit-title {
   font-size: 12pt;
}

#dialog-btn {
  margin-right: 10px;
}

#review-form-field {
  width: 400px;
}

.control-btn {
  width: 45%;
  min-width: 200px;
  height: 4em;
  font-size: 16pt;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
}

#back-procedure {
  margin-right: 5px;
}

.control-panel {
  max-width: 500px;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.fa {
  margin-right: 5px;
  display: block;
}
