.title-bar {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px 0px rgba(138,138,138,0.8);
}

.main-window {
    margin-left: 20px;
    border-left: 1px solid lightgrey;
    padding-left: 20px;
}

.add-substep-window {
    margin-left: 30px;
    border-left: 1px solid lightgrey;
    padding-left: 40px;
    padding-top: 5px;
    width: 500px;
}

.edit-substep-window {
    margin-left: 30px;
    border-left: 1px solid lightgrey;
    padding-left: 40px;
    padding-top: 5px;
    width: 500px;
}

.add-step-window {
    margin-left: 30px;
    border-left: 1px solid lightgrey;
    padding-left: 40px;
    padding-top: 5px;
    width: 500px;
}

.add-phase-window {
    margin-left: 30px;
    border-left: 1px solid lightgrey;
    padding-left: 40px;
    padding-top: 5px;
    width: 500px;
}
.title-logo {
    float: left;
}

.title-text {
    font-size: 16pt;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
}

.edit-title-text {
    font-size: 16pt;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
    width: 600px;
    margin-bottom: 10px;
}

.procedure-name {
    margin-top: 7px;
    margin-left: 50px;
    font-size: 13.5pt;
    color: #296b9b;
    font-weight: bold;
}

.main {
    margin-left: 20px;
}

.phases-bar {
    width: 260px;
    text-align: left;
    margin-right: 5px;
}

.phase-button {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px 12px 12px 18px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    position: relative;
    margin-bottom: 0px;
    /*border-bottom: 1px solid rgb(35, 119, 134);*/
}

.phase-button:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
    cursor: pointer;
}

.phase-button.active {
    background-color: #3282bc; /* Add a green color to the "active/current" link */
    color: white !important;
}

.steps-bar {
    width: 350px;
    text-align: left;
}

.step-button {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px 12px 12px 18px;  /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    position: relative;
    margin-bottom: 0px;
    /*border-bottom: 1px solid rgb(35, 119, 134);*/
}

.step-button:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
    cursor: pointer;
}

.step-button.active {
    background-color: #3282bc; /* Add a green color to the "active/current" link */
    color: white;
}

.phases-bar-title {
    font-size: 13pt;
    margin-bottom: 0px;
    padding-bottom: 5px;
    color: white;
    background-color: #105b91;
    padding: 12px;
}

.steps-bar-title {
    font-size: 13pt;
    margin-bottom: 0px;
    padding-bottom: 5px;
    color: white;
    background-color: #105b91;
    padding: 12px;
}

.substeps-bar-title {
    font-size: 13pt;
    margin-bottom: 0px;
    padding-bottom: 5px;
    color: white;
    background-color: #105b91;
    padding: 12px;
}

.substep-bar-title {
    font-size: 13pt;
    margin-bottom: 0px;
    padding-bottom: 5px;
    color: white;
    background-color: #3282bc;
    padding: 12px;
}

.substep-box {
    margin-top: 15px;
    width: 700px;
    /*min-height: 235px;*/
    /*box-shadow: 0px 2px 3px 0px rgba(138,138,138,0.8);*/
    border-radius: 0px 0px 5px 5px;
}

.substep-details {
    border-right: 2px solid rgb(221, 221, 221);
    border-left: 2px solid rgb(221, 221, 221);
    border-bottom: 2px solid rgb(221, 221, 221);
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

.phase-bar-icon {
    margin-top: 3px;
    float: right;
}

.add-btn {
    margin-top: 3px;
}

.rem-btn {
    margin-left: 5px;
    margin-top: 3px
}

.short-form-input {
    float: left;
    width: 280px;
    margin-right: 15px;
}

.add-icon {
    margin-top: 3px;
    font-size: 15pt;
    float: right;
    color: #3b92cf;
}

.close-icon {
    margin-top: 3px;
    font-size: 15pt;
    float: right;
    color: #3b92cf;
    margin-left: 10px;
    border-left: 1px solid #3b92cf;
    padding-left: 10px;
}

.expand-icon {
    margin-top: 3px;
    font-size: 15pt;
    float: right;
    color: #3b92cf;
    margin-left: 5px;
}

.add-icon-btn {
    margin-top: 2px;
    font-size: 12pt;
    float: left;
    margin-right: 5px;
    color: white;
}

.close-icon:hover {
    cursor: pointer;
    color: lightgrey;
}

.expand-icon:hover {
    cursor: pointer;
    color: lightgrey;
}

.rem-icon-btn {
    margin-top: 2px;
    font-size: 12pt;
    float: left;
    margin-right: 5px;
    color: white;
}

.add-icon:hover {
    cursor: pointer;
    color: lightgrey;
}

.action-sel {
    margin-bottom: 0px !important;
}

.sel-action {
    width: 230px;
    display: inline;
    float: left;
}

.action-div {
    min-height: 50px;
}

.anatomy-bubble {
    background-color: #3282bc;
    border-radius: 15px;
    padding: 2px 6px 4px 6px;
    margin-right: 3px;
    color: white;
    display: inline-block;
    margin-top: 1px;
}

.add-div {
    margin-top: 10px;
    text-align: center;
}

.substep-img {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    max-width: 280px;
    /*max-height: 210px;*/
    margin-bottom: 5px;
}

.substep-div {
    display: inline-block;
    width: 370px;
    margin-right: 18px;
    border-right: 1px solid lightgrey;
    min-height: 230px;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

.edit-form-input {
    margin-bottom: 10px;
}

.inline-form-p {
    display: block;
    font-size: 12pt;
    margin-top: 10px;
}

.inline-form-p-desc {
    display: inline-block;
    font-size: 11pt;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.instrument-table-name {
    padding-top: 10px;
}

.save-btn {
    text-align: center;
}

.delete-icon {
    font-size: 11pt;
    margin-top: 2px;
    margin-left: 5px;
    color: white;
}

.delete2-icon {
    float: right;
    font-size: 11pt;
    margin-top: 4px;
    margin-left: 8px;
    color: white;
}

.delete-icon:hover {
    cursor: pointer;
    color: lightgrey;
}

.delete2-icon:hover {
    cursor: pointer;
    color: lightgrey;
}

.edit-icon {
    font-size: 11pt;
    margin-top: 2px;
    margin-left: 15px;
    color: white;
}

.edit-icon:hover {
    cursor: pointer;
    color: lightgrey;
}

.edit2-icon {
    float: right;
    font-size: 11pt;
    margin-top: 4px;
    color: white;
}

.edit2-icon:hover {
    cursor: pointer;
    color: lightgrey;
}

.check-icon {
    float: right;
    font-size: 11pt;
    margin-top: 4px;
    color: white;
}

.check-icon:hover {
    cursor: pointer;
    color: black;
}

.instrument-table {
    width: 350px;
}

.substep-placement {
    width: 180px;
    float: left;
}

.substep-order {
    width: 270px;
    margin-left: 9px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    width: 136px;
    float: left;
}

.custom-file-upload:hover {
    background-color: #005add;
}

.image-file {
    color: grey;
    display: inline-block;
    font-size: 10.5pt;
    margin-left: 5px;
    margin-top: 8px;
    margin-right: 10px;
}

.image-div {
    margin-bottom: 20px;
    display: inline-block;
    width: 470px;
}

.upload-btn {
    margin-right: 5px;
}

.name-edit {
    height: 24px;
    width: 200px;
    display: inline-block;
    margin-right: 3px;
}

.name-edit-step {
    height: 24px;
    width: 300px;
    display: inline-block;
    margin-right: 3px;
}

.parallel:before {
    content: "";
    width: 50px;
    height: 200px;
    border-right: 5px solid rgba(218,93,53,0.8);
    border-top: 5px solid rgba(218,93,53,0.8);
    border-bottom: 5px solid rgba(218,93,53,0.8);
    z-index: -1;
    border-radius: 0px 50px 50px 0px;
    position: absolute;
    top: -100px;
    left: 775px;
}

.parallel {
    position: relative;
}

.angle-icon {
    float: right;
    font-size: 17pt;
    margin-top: 2px;
    margin-left: 10px;
}

.angle-icon:hover {
    cursor: pointer;
    color: lightgrey;
}

.new-buttons {
    margin-bottom: 15px;
}

.new-instr {
    margin-left: 15px;
}

.loading-div {
  text-align: center;
  width: 100%;
}

.loading-div p {
  font-size: 20pt;
  margin-top: 10px;
}

.small-loading {
  margin-left: 5px;
}
