/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	font-family: 'Lato', 'Sans Serif' !important;
}
.flex {
	display: flex;
	flex: 1;
}

.frow {
	flex-direction: row;
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.modal.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
    transform: translate(0, 0);
}

.modal-backdrop.in {
    opacity: 0.5;
    /* opacity: $modal-backdrop-opacity; (SCSS) */
}

.step-bar > .mat-content {
  justify-content: space-between;
}

.mat-expansion-panel-body {
  display: flex;
}

#mainpage-btn {
  position: absolute;
  right: 10px;
  top: 15px;
}
